body {
    font-size: 18px;
    line-height: 135%;
    display: grid;
    row-gap: 180px;
}

h3 {
    font-size: 40px;
    font-weight: 700; 
    text-transform: uppercase; 
}

.text {
    font-size: 20px;
    line-height: normal;
}

/* шапка сайта */
.header {
    display: grid;
    height: 110px;
    margin: 92px 50px;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.header__logo {
    display: inline-block;
    width: 148px;
    height: 105px;
    justify-self: center;
}

.header__link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.header__links-list {
    list-style: circle inside;
    display: flex;
    gap: 13px;
}


.header__address {
    display: flex;
    flex-direction: column;
    width: 240px;
    justify-self: end;
}

address {
    font-style: normal; 
}

/* cover */
.cover {
    background-image: url(../images/cover.jpg) ;
    background-size: cover;
    height: 757px;
    position: relative;
}

.overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    opacity: 0.6;
    background-color: black;
}

.cover__wrapper {
    padding: 165px 50px 50px 50px;
    color: #fff;
    position: relative;
    z-index: 2;
    text-transform: uppercase;

    display: grid;
    grid-template-rows: 1fr auto;
    height: 100%;
}

.cover__wrapper > h1 {
    font-size: 100px;
    font-weight: 700;
    line-height: 115%;
    letter-spacing: 30px;
}

.cover__wrapper > h1 > span {
    display: block;
}

.aligned-text {
    margin-right: -30px;
}

.aligned-text_center {
    text-align: center;
    margin-right: -60px;
}

.aligned-text_right {
    text-align: end;
    margin-right: -30px;
}

.letter-spacing-extended {
    letter-spacing: 30px;
}

.letter-spacing-extended::before {
    content: " ";
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover__description {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: "none text button";
}

.cover__description__text {
    grid-area: text;
    align-self: center;
    word-spacing: 20px;
}

.cover__description__button {
    grid-area: button;
    text-transform: uppercase;
    width: 257px;
    height: 52px;
    padding: 12px 32px;
    width: fit-content;
    background: transparent;
    border: 1px solid #fff;
    justify-self: end;
}

.cover__description__text-decoration {
    color: #fff;
    text-align: center;
    font-family: Raleway;
    font-size: 22px;
    line-height: normal;
    text-transform: uppercase; 
}

/* cards */
.lots {
    padding: 0 50px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 30px;
}

.lots__heading {
    margin-left: 40px;
}

.lots__card-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.lots__card-list-item {
    width: 430px;
    min-height: 450px;
    flex-grow: 1;
    flex-shrink: 0;
    position: relative;
}

.card {
    color: #fff;
    padding: 50px 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
    background-size: cover;
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
    background-size: cover;
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
    background-size: cover;
}

.card__title {
    font-size: 22px;
    font-weight: 700;
    line-height: 120%;
    text-decoration-line: underline; 
    text-transform: uppercase;
}

.card__text {
    line-height: 120%; 
}

.card-link {
    display: block;
    height: 100%;
}

.lots__look-more-link, .lots__look-more-link:link {
    text-transform: lowercase;
    text-decoration: none;
    margin-left: 40px;
}

.lots__look-more-link:hover {
    text-decoration: underline; 
}

/* блок about */
.about {
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 0 50px;
}

.about__logo {
    width: 430px;
    height: 240px;
}

.about__logo img {
    width: 100%;
    height: 100%;
}

.about__logo__circle {
    background-color: #000;
    border-radius: 50%;
    width: 240px;
    height: 240px;
    padding: 48px;
}

.about__title {
    margin: 100px 0;
}

.about__description > p:not(first-child) {
    margin-bottom: 25px;
}


/* футер */
footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 50px;
    padding-bottom: 90px;
}

.footer__link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.footer__address {
    display: flex;
    flex-direction: column;
    width: 240px;
}

.footer__links-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__social-list {
    list-style: none;
    width: 240px;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}

.footer__social-list__wrapper {
    display: flex;
    justify-content: end;
}

.footer__social-list-item {
    width: 48px;
}