body {
    font-size: 18px;
    line-height: 135%;
}

main > * {
    margin-bottom: 180px;
}

h2 {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.text {
    font-size: 20px;
    line-height: normal;
}


/* шапка сайта */
.header {
    display: grid;
    margin: 92px 50px 98px 50px;
    grid-template-columns: 3fr 1fr 3fr;
    align-items: center;
}

.header__logo {
    display: inline-block;
    width: 148px;
    height: 105px;
    justify-self: center;
    /* добавила наугад, в макете этих значений нет */
    padding: 0 5px;
}

.header__link > a {
    cursor: pointer;
    text-decoration: none;
    border-bottom: #000 1px solid;
}

.header__link.active-link > a {
    border-bottom: none;
}

.no-marker {
    list-style-type: none;
}

.header__links-list {
    list-style: circle inside;
    display: flex;
    gap: 13px;
}


.header__address {
    display: flex;
    flex-direction: column;
    max-width: 240px;
    justify-self: end;
}

address {
    font-style: normal;
}

/* cover */
.cover {
    background-image: url(../images/cover.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    opacity: 0.6;
    background-color: black;
    inset: 0;
}

.cover__item {
    padding: 165px 50px 50px 50px;
    color: #fff;
    position: relative;
    z-index: 2;
    text-transform: uppercase;

    display: grid;
    grid-template-rows: 1fr auto;
    grid-row-gap: 135px;
    height: 100%;
}

.cover__item > h1 {
    font-size: 100px;
    font-weight: 700;
    /* в макете указано line-height 100%, но иначе не сходится с макетом */
    /* при этом значении на разрешении 1440px высота блока совпадает с высотой макета 757px */
    line-height: 105%;
    letter-spacing: 30px;
}

.cover__item > h1 > span {
    display: block;
}

.cover__item > h1 > span:not(:last-child) {
    margin-bottom: 20px;
}

.aligned-text-center {
    margin-right: 30px;
    text-align: center;
}

.aligned-text-right {
    text-align: end;
}

.letter-spacing-extended {
    letter-spacing: 5px;
}

.letter-spacing-extended::before {
    content: " ";
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover__description {
    display: flex;
    column-gap: 78px;
    justify-content: end;
}

.cover__description-text {
    grid-area: text;
    align-self: center;
    word-spacing: 20px;
}

.cover__description-button {
    grid-area: button;
    text-transform: uppercase;
    height: 52px;
    padding: 12px 32px;
    width: fit-content;
    background-color: transparent;
    border: 1px solid #fff;
    justify-self: end;
}

.cover__description-text-decoration {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: #fff;
    text-align: center;
    line-height: normal;
    text-transform: uppercase;
}

/* cards */
.lots {
    padding: 0 50px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 30px;
}

.lots__heading {
    margin-left: 40px;
}

.lots__card-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.lots__card-list-item {
    width: 430px;
    min-height: 450px;
    flex-grow: 1;
    flex-shrink: 0;
    position: relative;
}

.card {
    color: #fff;
    padding: 50px 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
    background-size: cover;
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
    background-size: cover;
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
    background-size: cover;
}

.card__title {
    font-size: 22px;
    font-weight: 700;
    line-height: 120%;
    text-decoration-line: underline;
    text-transform: uppercase;
    position: relative;
    z-index: 3;
}

.card__text {
    line-height: 120%;
    position: relative;
    z-index: 3;
}

.card-link {
    display: block;
    height: 100%;
}

.lots__look-more-link {
    text-transform: lowercase;
    margin-left: 40px;
    max-width: fit-content;
}

.lots__look-more-link:hover {
    text-decoration: underline;
}

/* блок about */
.about {
    display: grid;
    grid-template-columns: 430px auto;
    column-gap: 25px;
    padding: 0 50px;
}

.about__column-logo {
    display: flex;
    justify-content: center;
}

.about__logo {
    width: 240px;
    height: 240px;
    padding: 48px;
    display: flex;
    justify-content: center;
    background-color: #000;
    border-radius: 50%;
    
}

.about__logo img {
    width: 100%;
    height: 100%;
}

.about__title {
    margin: 100px 0;
}

.about__text > p:first-child {
    margin-bottom: 25px;
}


/* футер */
footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 50px;
    padding-bottom: 90px;
}

.footer__link > a {
    cursor: pointer;
    text-decoration: none;
    border-bottom: #000 1px solid;
    line-height: 100%;
}

.footer__link.active-link > a {
    border-bottom: none;
}

.footer__address {
    display: flex;
    flex-direction: column;
    max-width: 240px;
}

.footer__links-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__social-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 50px;
}

.footer__social-list-item {
    width: 48px;
}